<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [3]:
import pandas as pd
import os

In [4]:
# Change the path to the dataset file if needed. 
PATH = 'data/athlete_events.csv'
cwd = os.getcwd()
print(cwd)

E:\mlcourse\mlcourse.ai

In [5]:
data = pd.read_csv(PATH)
data.head()  # gets the first five rows of data from the data frame.

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Age</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Team</th>
      <th>NOC</th>
      <th>Games</th>
      <th>Year</th>
      <th>Season</th>
      <th>City</th>
      <th>Sport</th>
      <th>Event</th>
      <th>Medal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>A Dijiang</td>
      <td>M</td>
      <td>24.0</td>
      <td>180.0</td>
      <td>80.0</td>
      <td>China</td>
      <td>CHN</td>
      <td>1992 Summer</td>
      <td>1992</td>
      <td>Summer</td>
      <td>Barcelona</td>
      <td>Basketball</td>
      <td>Basketball Men's Basketball</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>A Lamusi</td>
      <td>M</td>
      <td>23.0</td>
      <td>170.0</td>
      <td>60.0</td>
      <td>China</td>
      <td>CHN</td>
      <td>2012 Summer</td>
      <td>2012</td>
      <td>Summer</td>
      <td>London</td>
      <td>Judo</td>
      <td>Judo Men's Extra-Lightweight</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Gunnar Nielsen Aaby</td>
      <td>M</td>
      <td>24.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Denmark</td>
      <td>DEN</td>
      <td>1920 Summer</td>
      <td>1920</td>
      <td>Summer</td>
      <td>Antwerpen</td>
      <td>Football</td>
      <td>Football Men's Football</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Edgar Lindenau Aabye</td>
      <td>M</td>
      <td>34.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Denmark/Sweden</td>
      <td>DEN</td>
      <td>1900 Summer</td>
      <td>1900</td>
      <td>Summer</td>
      <td>Paris</td>
      <td>Tug-Of-War</td>
      <td>Tug-Of-War Men's Tug-Of-War</td>
      <td>Gold</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Christine Jacoba Aaftink</td>
      <td>F</td>
      <td>21.0</td>
      <td>185.0</td>
      <td>82.0</td>
      <td>Netherlands</td>
      <td>NED</td>
      <td>1988 Winter</td>
      <td>1988</td>
      <td>Winter</td>
      <td>Calgary</td>
      <td>Speed Skating</td>
      <td>Speed Skating Women's 500 metres</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [54]:
young_m = data.loc[(data['Sex'] == 'M') & (data['Year'] == 1996)]['Age'].min()
young_f = data.loc[(data['Sex'] == 'F') & (data['Year'] == 1996)]['Age'].min()
print(str(young_m) + ' and ' + str(young_f))

14.0 and 12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [9]:
# Sport Gymnastics
man_2000_unit = data[(data['Sex'] == 'M') & (data['Year'] == 2000)].drop_duplicates('ID').shape[0]
print(man_2000_unit)
# man_gym_unit = data[(data['Sex'] == 'M') & (data['Year'] == 2000) & (data['Sport'] == 'Gymnastics')]. \
# drop_duplicates('ID').shape[0]
man_gym_unit = data[(data['Sex'] == 'M') & (data['Year'] == 2000) & (data['Sport'] == 'Gymnastics')]. \
shape[0]
print(man_gym_unit)
print(round(man_gym_unit/man_2000_unit, 1))
round(data[(data['Sex'] == 'M') & (data['Year'] == 2000)].drop_duplicates('ID')['Sport']. \
          value_counts(normalize=True), 3)

6579
642
0.1

Athletics            0.191
Swimming             0.085
Rowing               0.055
Cycling              0.052
Wrestling            0.048
Sailing              0.047
Boxing               0.047
Football             0.041
Shooting             0.040
Canoeing             0.038
Judo                 0.036
Baseball             0.029
Hockey               0.029
Handball             0.027
Weightlifting        0.024
Water Polo           0.023
Basketball           0.022
Volleyball           0.021
Fencing              0.020
Equestrianism        0.019
Gymnastics           0.015
Tennis               0.014
Table Tennis         0.013
Badminton            0.013
Diving               0.012
Archery              0.010
Taekwondo            0.008
Triathlon            0.008
Beach Volleyball     0.007
Modern Pentathlon    0.004
Trampolining         0.002
Name: Sport, dtype: float64

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [105]:
height_mean = round(data[(data['Sex'] == 'F') & (data['Year'] == 2000) & (data['Sport'] == 'Basketball')]. \
                    drop_duplicates('ID')['Height'].mean(), 1)
print(height_mean)
# print(data[(data['Sex'] == 'F') & (data['Year'] == 2000)].duplicated(['ID']).count())
# print(data.drop_duplicates('ID')[0:5]) 
height_std = round(data[(data['Sex'] == 'F') & (data['Year'] == 2000) & (data['Sport'] == 'Basketball')]. \
                       drop_duplicates('ID')['Height'].std(), 1)
print(height_std)

182.4
9.1

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [128]:
# data[data['Year'] == 2002]['Weight'].max()
print(data.loc[data['Weight'] == data[data['Year'] == 2002]['Weight'].max()] \
          [['Season', 'Sport']].drop_duplicates('Season'))

       Season      Sport
29822  Summer  Athletics
99152  Winter  Bobsleigh

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [140]:
print(data[data['Name'] == 'Pawe Abratkiewicz'].drop_duplicates('Year').shape[0])

3

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [139]:
data[(data['Medal'] == 'Silver') & (data['Sport'] == 'Tennis') & (data['Year'] == 2000) & (data['Team'] == \
                                                                                           'Australia')].shape[0]

2

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [145]:
SW = data[(data['Team'] == 'Switzerland') & (data['Year'] == 2016)]['Medal'].dropna().count()
SB = data[(data['Team'] == 'Serbia') & (data['Year'] == 2016)]['Medal'].dropna().count()
print(SW, SB)
# Yes

11 54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [155]:
# labels = ["{0} - {1}".format(i, i + 9) for i in range(5, 100, 10)]
# data['group'] = pd.cut(data[data['Year'] == 2014].Age, range(0, 105, 10), right=False, labels=labels)
# print(data.head())
age55 = data[(data['Year'] == 2014) & (data['Age'] <= 55) & (data['Age'] >= 45)].drop_duplicates('ID').shape[0]
age45 = data[(data['Year'] == 2014) & (data['Age'] < 45) & (data['Age'] >= 35)].drop_duplicates('ID').shape[0]
age35 = data[(data['Year'] == 2014) & (data['Age'] < 35) & (data['Age'] >= 25)].drop_duplicates('ID').shape[0]
age25 = data[(data['Year'] == 2014) & (data['Age'] < 25) & (data['Age'] >= 15)].drop_duplicates('ID').shape[0]
print(age25, age35, age45, age55)
# [45, 55], [25, 35)

1193 1397 150 5

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [159]:
Summer = data[(data['Season'] == 'Summer') & (data['City'] == 'Lake Placid')].shape[0]
Winter = data[(data['Season'] == 'Winter') & (data['City'] == 'Sankt Moritz')].shape[0]
print(Summer, Winter)
# No, Yes

0 1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [165]:
num_95 = data[data['Year'] == 1995].drop_duplicates('Sport').shape[0]
num_16 = data[data['Year'] == 2016].drop_duplicates('Sport').shape[0]
print(num_95, num_16)
print(abs(num_16-num_95))

0 34
34